* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
   font-family: Helvetica, Arial, sans-serif;
 }

 header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
   top: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

body {
 font-family: Helvetica, Arial, sans-serif;
}

header a {
  text-decoration: none;
}

header nav {
   margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw; 
}



 /* Mobile First Media Queries */

/* Base style */
{ ... }

/* Larger than mobile screen */
@media (min-width: 40.0rem) { ... }

/* Larger than tablet screen */
@media (min-width: 80.0rem) { ... }

/* Larger than desktop screen */
@media (min-width: 120.0rem) { ... }
